## Import Libraries

In [1]:
# import libraries
import pandas as pd
from binance.client import Client
from pymongo import MongoClient

import sys
sys.path.append('/Users/macbook/Desktop/projects/Github_Repositories/cfa_binance/docs')
import config

# Define Functions

In [2]:
# Create Client
client = Client(config.APIKey, config.SecretKey)

# Define Assets
symbol01 = 'BTCUSDT'
symbol02 = 'ETHBTC'
symbol03 = 'ETHUSDT'


# Define Columns
columns = ['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume',
            'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore']

# Columns change to float
cols_float = ['open', 'high', 'low', 'close', 'volume', 'quote_asset_volume',
              'taker_buy_base_asset_volume','taker_buy_quote_asset_volume', 'ignore']


def get_klines(symbol, interval, start_date):
        klines = client.get_historical_klines(symbol, interval, start_date)
        return klines

def create_dataframe(klines, columns, id_):
        df = pd.DataFrame(klines, columns=columns)
        df.insert(0, 'id_asset', id_)
        return df


def change_col_type(df, columns, typ):
    for column in columns:
        df[columns] = df[columns].astype(typ)
    
def change_to_datetime(df, *columns):
    for column in columns:
        df[column] = pd.to_datetime(df[column], unit='ms')

# Hourly Data

In [3]:
# Hourly Data

interval = Client.KLINE_INTERVAL_1HOUR
start_date = "2017-01-01"

klines01 = get_klines(symbol01, interval, start_date)
klines02 = get_klines(symbol02, interval, start_date)
klines03 = get_klines(symbol03, interval, start_date)

df_hourly_01 = create_dataframe(klines01, columns, 1)
df_hourly_02 = create_dataframe(klines02, columns, 2)
df_hourly_03 = create_dataframe(klines03, columns, 3)

df_hourly = pd.concat([df_hourly_01, df_hourly_02, df_hourly_03]).sort_values(['timestamp', 'id_asset']).reset_index(drop=True)

# Change Type
change_col_type(df_hourly, cols_float, float)
change_col_type(df_hourly, 'number_of_trades', int)
change_to_datetime(df_hourly, 'timestamp', 'close_time')

# Show DataFrame
df_hourly.tail()

,id_asset,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
155167,2,2023-07-06 06:00:00,0.06283,0.06285,0.06265,0.06268,485.90040,2023-07-06 06:59:59.999,3.049612e+01,852,273.65800,1.717466e+01,0.0
155168,3,2023-07-06 06:00:00,1921.79000,1927.00000,1919.78000,1923.44000,10612.84610,2023-07-06 06:59:59.999,2.040761e+07,14538,4946.15660,9.512330e+06,0.0
155169,1,2023-07-06 07:00:00,30692.57000,30780.00000,30688.21000,30780.00000,981.93416,2023-07-06 07:59:59.999,3.017547e+07,18972,544.48011,1.673330e+07,0.0
155170,2,2023-07-06 07:00:00,0.06268,0.06270,0.06256,0.06257,216.93080,2023-07-06 07:59:59.999,1.358286e+01,677,95.29360,5.967535e+00,0.0
155171,3,2023-07-06 07:00:00,1923.43000,1926.19000,1923.11000,1925.28000,5482.41890,2023-07-06 07:59:59.999,1.054948e+07,5987,2801.51080,5.391130e+06,0.0

# Daily Data

In [4]:
# Daily Data

interval = Client.KLINE_INTERVAL_1DAY
start_date = "2017-01-01"

klines01 = get_klines(symbol01, interval, start_date)
klines02 = get_klines(symbol02, interval, start_date)
klines03 = get_klines(symbol03, interval, start_date)

df_daily_01 = create_dataframe(klines01, columns, 1)
df_daily_02 = create_dataframe(klines02, columns, 2)
df_daily_03 = create_dataframe(klines03, columns, 3)

df_daily = pd.concat([df_daily_01, df_daily_02, df_daily_03]).sort_values(['timestamp', 'id_asset']).reset_index(drop=True)

# Change Type
change_col_type(df_daily, cols_float, float)
change_col_type(df_daily, 'number_of_trades', int)
change_to_datetime(df_daily, 'timestamp', 'close_time')

# Show DataFrame
df_daily.tail()

,id_asset,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
6479,2,2023-07-05,0.06292,0.06299,0.06249,0.06262,13514.80290,2023-07-05 23:59:59.999,8.482550e+02,29896,6411.86450,4.024303e+02,0.0
6480,3,2023-07-05,1936.19000,1942.50000,1894.51000,1910.36000,267633.47830,2023-07-05 23:59:59.999,5.127741e+08,362985,128057.05960,2.453407e+08,0.0
6481,1,2023-07-06,30504.80000,30787.42000,30327.00000,30786.57000,7543.32988,2023-07-06 23:59:59.999,2.305300e+08,211108,3843.67783,1.174872e+08,0.0
6482,2,2023-07-06,0.06263,0.06286,0.06256,0.06257,2955.37680,2023-07-06 23:59:59.999,1.853236e+02,6122,1623.34870,1.018002e+02,0.0
6483,3,2023-07-06,1910.35000,1927.00000,1898.80000,1926.32000,67264.03890,2023-07-06 23:59:59.999,1.287725e+08,91640,35650.65760,6.824501e+07,0.0

# Weekly Data

In [5]:
# Weekly Data

interval = Client.KLINE_INTERVAL_1WEEK
start_date = "2017-01-01"

klines01 = get_klines(symbol01, interval, start_date)
klines02 = get_klines(symbol02, interval, start_date)
klines03 = get_klines(symbol03, interval, start_date)

df_week_01 = create_dataframe(klines01, columns, 1)
df_week_02 = create_dataframe(klines02, columns, 2)
df_week_03 = create_dataframe(klines03, columns, 3)

df_weekly = pd.concat([df_week_01, df_week_02, df_week_03]).sort_values(['timestamp', 'id_asset']).reset_index(drop=True)

# Change Type
change_col_type(df_weekly, cols_float, float)
change_col_type(df_weekly, 'number_of_trades', int)
change_to_datetime(df_weekly, 'timestamp', 'close_time')

# Show DataFrame
df_weekly.tail()

,id_asset,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
924,2,2023-06-26,0.06233,0.06369,0.060524,0.06329,1.902492e+05,2023-07-02 23:59:59.999,1.179212e+04,337587,9.243356e+04,5.725751e+03,0.0
925,3,2023-06-26,1898.80000,1959.20000,1816.560000,1937.48000,2.555824e+06,2023-07-02 23:59:59.999,4.814136e+09,3256642,1.262129e+06,2.378222e+09,0.0
926,1,2023-07-03,30617.02000,31380.00000,30200.000000,30785.95000,1.177294e+05,2023-07-09 23:59:59.999,3.625735e+09,2600430,5.445624e+04,1.676794e+09,0.0
927,2,2023-07-03,0.06329,0.06435,0.062120,0.06257,7.449170e+04,2023-07-09 23:59:59.999,4.703977e+03,133579,3.660138e+04,2.311629e+03,0.0
928,3,2023-07-03,1937.49000,1976.16000,1894.510000,1925.95000,8.625546e+05,2023-07-09 23:59:59.999,1.673950e+09,1166430,4.142367e+05,8.037583e+08,0.0

# Monthly Data

In [6]:
# Monthly Data

interval = Client.KLINE_INTERVAL_1MONTH
start_date = "2017-01-01"

klines01 = get_klines(symbol01,interval, start_date)
klines02 = get_klines(symbol02,interval, start_date)
klines03 = get_klines(symbol03,interval, start_date)

df_monthly_01 = create_dataframe(klines01, columns, 1)
df_monthly_02 = create_dataframe(klines02, columns, 2)
df_monthly_03 = create_dataframe(klines03, columns, 3)

df_monthly = pd.concat([df_monthly_01, df_monthly_02, df_monthly_03]).sort_values(['timestamp', 'id_asset']).reset_index(drop=True)

# Change Type
change_col_type(df_monthly, cols_float, float)
change_col_type(df_monthly, 'number_of_trades', int)
change_to_datetime(df_monthly, 'timestamp', 'close_time')

# Show DataFrame
df_monthly.tail()

,id_asset,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
212,2,2023-06-01,0.06886,0.07088,0.060524,0.06344,8.487204e+05,2023-06-30 23:59:59.999,5.539503e+04,1601905,4.043618e+05,2.641459e+04,0.0
213,3,2023-06-01,1873.63000,1948.60000,1626.010000,1933.79000,1.038595e+07,2023-06-30 23:59:59.999,1.891380e+10,14361542,5.088607e+06,9.265203e+09,0.0
214,1,2023-07-01,30471.99000,31380.00000,30155.000000,30778.23000,1.585228e+05,2023-07-31 23:59:59.999,4.870787e+09,3760064,7.318968e+04,2.248618e+09,0.0
215,2,2023-07-01,0.06345,0.06435,0.062120,0.06257,1.176157e+05,2023-07-31 23:59:59.999,7.421152e+03,212547,5.657223e+04,3.569581e+03,0.0
216,3,2023-07-01,1933.80000,1976.16000,1885.750000,1925.75000,1.296791e+06,2023-07-31 23:59:59.999,2.509045e+09,1854592,6.298732e+05,1.218530e+09,0.0

# Create Asset Table

In [7]:
df_assets = pd.DataFrame({'id_asset' : [1,2,3],
                         'name' : ['BTCUSDT', 'ETHBTC', 'ETHUSDT']})

df_assets

   id_asset     name
0         1  BTCUSDT
1         2   ETHBTC
2         3  ETHUSDT

## Save data to csv

In [9]:
path = '/Users/macbook/Desktop/projects/Github_Repositories/cfa_binance/data/raw'
df_hourly.to_csv(f"{path}/All_2017_01_01_to_2023_07_06_hourly.csv", index=False)
df_daily.to_csv(f"{path}/All_2017_01_01_to_2023_07_06_daily.csv", index=False)
df_weekly.to_csv(f"{path}/All_2017_01_01_to_2023_07_06_weekly.csv", index=False)
df_monthly.to_csv(f"{path}/All_2017_01_01_to_2023_07_06_monthly.csv", index=False)

# PgAdming4 Connection

## Create tables for database

### Create conn and engine

In [15]:
import psycopg2
from sqlalchemy import create_engine,select, insert

conn = psycopg2.connect(database="binance",
			user='abdullahcay', password=12345,
			host='127.0.0.1', port='5434'
)

conn.autocommit = True
cursor = conn.cursor()

string = 'postgresql://abdullahcay:12345@localhost:5434/binance'
engine = create_engine(string)

In [ ]:
table_name_list = ['hourly','daily','weekly','monthly']

for table_name in table_name_list: 
    table_query = f'''CREATE TABLE IF NOT EXISTS {table_name} (id serial PRIMARY KEY,
                        id_asset int,
                        timestamp TIMESTAMP,
                        open NUMERIC, 
                        high NUMERIC,
                        low NUMERIC,
                        close NUMERIC,
                        volume NUMERIC,
                        close_time TIMESTAMP,
                        quote_asset_volume NUMERIC,
                        number_of_trades NUMERIC,
                        taker_buy_base_asset_volume NUMERIC,
                        taker_buy_quote_asset_volume NUMERIC,
                        ignore NUMERIC),
                        FOREIGN KEY (id_asset) REFERENCES assets(id);'''
    
    cursor.execute(table_query)
    print(f'{table_name} table created.')

In [16]:
table_name = 'assets'
table_query = f'''CREATE TABLE IF NOT EXISTS {table_name} (
                        id_asset int PRIMARY KEY,
                        name VARCHAR(10));'''
cursor.execute(table_query)
print(f'{table_name} table created.')
    
df_assets.to_sql(f'{table_name}', engine, if_exists='append', index = False)
print(f'{table_name} table added to database.')

assets table created.
assets table added to database.

## Add tables to database

In [17]:
table_name_list = ['hourly','daily','weekly','monthly', 'assets']
df_list = [df_hourly, df_daily, df_weekly, df_monthly, df_assets]

#  Note:  if_exists can be append, replace, fail.  
for df, table_name in zip(df_list, table_name_list):
    df.to_sql(f'{table_name}', engine, if_exists='append', index = False)
    print(f'{table_name} table added to database.')

hourly table added to database.
daily table added to database.
weekly table added to database.
monthly table added to database.
assets table added to database.

## First Query for pgAdmin

In [20]:
# Query
table_name_list = ['hourly','daily','weekly','monthly']
for table_name in table_name_list:
    sql01 = f'''SELECT id_asset,timestamp,close FROM {table_name} Order By timestamp DESC LIMIT 1'''
    cursor.execute(sql01)
    for i in cursor.fetchall():
        print(f'{table_name} table ==> {i}')

# Commit 
conn.commit()

hourly table ==> (1, datetime.datetime(2023, 7, 6, 7, 0), 30780.0)
daily table ==> (1, datetime.datetime(2023, 7, 6, 0, 0), 30786.57)
weekly table ==> (1, datetime.datetime(2023, 7, 3, 0, 0), 30785.95)
monthly table ==> (1, datetime.datetime(2023, 7, 1, 0, 0), 30778.23)